body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color: rgba(24, 7, 43, 0.986);
    height: 100vh;
    margin: 0;
    color: white;
    opacity: 1;
    animation: fadeIn 1s forwards;
    position: relative;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.cover img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.trailer-video,
.trailer-video-2 {
    position: absolute;
    bottom: 52vh;
    right: 2vw;
    width: 19vw;
    height: 22vh;
    border: 0.1px solid rgb(16, 0, 104);
    border-radius: 5px;
    background-color: black;
}

.details {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.poster img {
    margin-left: 10%;
    width: 12rem;
    border-radius: 10px;
}

.poster img:hover {
    cursor: pointer;
    transform: scale(1);
    filter: brightness(0.9);
}

h1 span:hover {
    color: #FFD700;
    cursor: pointer;
    transform: scale(1);
}

.info {
    max-width: 80%;
    flex: 1;
    text-align: left;
}

.info h1 {
    margin: 0;
    text-align: left;
}

.info .rating {
    margin: 10px 0;
    text-align: left;
}

.info p {
    line-height: 1.6;
    word-wrap: break-word;
    text-align: left;
    max-width: 600px;
}   

.cast {
    margin-top: 20px;
    text-align: center;
}

.cast h2 {
    margin-bottom: 10px;
}

.cast-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.cast-member img {
    width: 5rem;
    height: 80px;
    border-radius: 50%;
}

.cast-member img:hover {
    border: 1px solid #FFD700;
    transform: scale(1);
}

.cast-member p {
    margin-top: 5px;
    font-size: 14px;
}
